SECRET_KEY=change-this-in-production
DATABASE_URL=mysql+pymysql://username:password@host:3306/ledger
MYSQLHOST=host
MYSQLPORT=3306
MYSQLUSER=username
MYSQLPASSWORD=password
MYSQLDATABASE=ledger
MYSQL_DATABASE=ledger
MYSQL_URL=mysql://username:password@host:3306/ledger
MYSQL_PUBLIC_URL=mysql://username:password@host:3306/ledger
